.todo_card .card{
    transition: all 0.3s ease-in-out;
}
.todo_card .card:hover{
    cursor: pointer;
    background: #fff9fb;
    transform: scale(1.02);
}
.card_body{
    padding: 0;
    height: 2.8rem;
    margin: auto;
    justify-content: center;
}